@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}
body{
    background: url(../img/lofe-earth-cat.gif);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.piano{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 50px auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 15px;
}
.btn{
    width: 85px;
    height: 55px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    margin: 0 5px;
    transition: .5s;
}
.replay{
    font-size: 23px;
}
.btn:hover{
    background-color: #fff;
    border: 1px solid #000;
}
.input-box{
    margin: 5px;
}
#chords{
    font-size: 25px;

}
.btn-box{
    margin: 5px;
}
.output{

}
ul li{
    list-style-type: none;
    padding: 10px 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}